<a href="https://colab.research.google.com/github/sachint2202/colab-notebooks/blob/main/Starting_Off.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sample Python program to draw inference

In [6]:
a = 10
b = 20
c = a + b
print(a,' + ',b,' = ',a+b)

10  +  20  =  30

Google CoLab comes pre-installed with some Data Science libraries so you don't need to install them. Examples include numpy and pandas.

### Sample pandas code ♥

---

In [7]:
import pandas as pd
myList = ['Sachin', 23, 45.6789, 'font']
pdSeries = pd.Series(myList); #Series is like column of a table. 1-D Array
print('Panda series = \n', pdSeries)

Panda series =
 0     Sachin
1         23
2    45.6789
3       font
dtype: object

### Sample numpy Code ♨

---

In [11]:
import numpy as np
arr = np.array((123, 453, 65, 876, 'Numpy', 'Pandas', 2.94))
print('Array = \n',arr)
print(type(arr))

Array =
 ['123' '453' '65' '876' 'Numpy' 'Pandas' '2.94']
<class 'numpy.ndarray'>